<div class="add-conteiner">
    <div id="monitoreo">
        <div class="calendar">
            <div class="scse-table">
                <div class="table-header">
                    <div class="var-name text-truncate">Fecha</div>
                    <div class="var-name text-truncate">Hora</div>
                </div>
                <div class="table-container">
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">22/01/19</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                    <div class="grid-item">8:00</div>
                </div>
            </div>
        </div>
        <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Monitoreo Básico
        </button>
        <div id="collapseOne" class="collapse" aria-labelledby="monitoreo" data-parent="#monitoreo">
            <div class="monitoring-body">
                <div class="scse-table">
                    <div class="table-header">
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                        <div class="var-name text-truncate">Pa Sistólica (mmhg)</div>
                    </div>
                    <div class="table-container">
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                        <div class="grid-item">100</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="collapsed mt-1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Monitoreo renal
        </button>
        <div id="collapseTwo" class="collapse" aria-labelledby="monitoreo" data-parent="#monitoreo">
            <div class="monitoring-body">
            </div>
        </div>
        <button class="collapsed mt-1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Fuerza muscular y estado de conciencia
            </button>
        <div id="collapseThree" class="collapse" aria-labelledby="monitoreo" data-parent="#monitoreo">
            <div class="monitoring-body">
            </div>
        </div>
    </div>
</div>