<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="scse-form-group">
                <input class="scse-form-control" type="text" id="name" (blur)="blur($event)" required>
                <label class="animated-label" for="name">Name</label>
            </div>
            <div class="scse-form-group">
                <select name="select" class="scse-form-control select" (change)="change($event)">
                            <option value="value1"></option> 
                            <option value="value2">Value 2</option>
                            <option value="value3">Value 3</option>
                </select>
                <label class="animated-label" for="password">Password</label>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="alert" class="alert" role="alert">
    A simple primary alert—check it out!
</div>
<button type="button" class="btn btn-info m-1" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success m-1" (click)="alert = 'alert-success'">Success</button>
<br><br>
<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">
    Hola Mundo
</h3>

<button (click)="propiedades.danger = !propiedades.danger" type="button" class="btn btn-danger" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">
    cambiar
</button>
<br><br>
<h3>Proceso Asincrono</h3>
<button [disabled]="loading" (click)="ejecutar()" type="button" name="button" class="btn btn-primary">
    <i [ngClass]="{'fa-save': !loading, 'fa-sync fa-spin': loading}" class="fa fa-save"></i>
    <span *ngIf="!loading"> Guardar Cambios</span>
    <span *ngIf="loading"> Espere...</span>
</button>
<br><br>