<div class="scse-container m-5">
    <div class="row m-5">
        <div class="col-md p-0" *ngFor="let group of ListGroup" [ngStyle]="{'min-width': GrupPercent / ( GrupSize / group.length) + '%' }">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="scse-img" src="assets/img/{{group[0].Img}}" alt="">
                </div>
            </div>
            <div class="d-flex">
                <div class=" flex-fill text-center" *ngFor="let item of group">
                    <input type="radio" name="appointmentType" id="{{item.Value}}" value="{{item.Value}}">
                    <label class="form-check-label text-center nomargin" for="{{item.Value}}"><br/>{{item.Name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="scse-dot-border" [ngStyle]="{'margin-left': (100 / group.length)/2 + '%', 'margin-right': (100 / group.length)/2 + '%'}">
                    </div>
                    <label class="text-center w-100">{{group[0].Inter}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-4 my-3">
            <!-- <div class="row m-5">
                <div class="col-sm d-inline p-0" *ngFor="let group of ListGroup">
                    <div class="d-flex h-25">

                    </div>
                    <div class="row">
                        <div class="col-sm-12 p-0">
                            <div class="row">
                                <div class="col-sm text-center" *ngFor="let item of group">
                                    <input type="radio" name="appointmentType" id="{{item.Value}}" value="{{item.Value}}">
                                    <label class="form-check-label text-center nomargin" for="{{item.Value}}"><br/>{{item.Name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>