<div class="container-fluid">
    <!-- <app-radio-scale class="m-5"></app-radio-scale> -->
    <div class="scse-container">
        <button class="plus-bottom" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
    </div>
    <div class="m-2 h-25">
        <span class="alert expand" data-alert="" data-message="hola soy un messag sdfdsfdsfs sadasd sadsae"><i class="far fa-times-circle"></i></span>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-add-variables class="m-4"></app-add-variables>
        </div>
    </div>
</div>